body {
    background: #272727;
    display: flex; /* Ativa o layout flexível */
    flex-direction: column; /* Coloca os elementos em uma coluna */
    height: 125vh;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    overflow-x: hidden; /* Evita a rolagem horizontal */
    color: white;
    background: url('fundo-n.png') no-repeat center center fixed;
    background-size: cover; /* Faz a imagem cobrir todo o fundo */
}
.separador {
    height: 20vh;
}
header {
    padding: 20px;
    text-align: center;
    color: white;
    font-size: 24px;
}

section {
    flex: 1; /* Faz a seção principal ocupar o espaço restante */
    display: flex; /* Ativa o flexbox */
    align-items: center; /* Centraliza verticalmente */
    justify-content: center; /* Centraliza horizontalmente */

    color: white;
    background: rgba(255, 255, 255, 0.25);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    border-radius: 10px;
    padding: 20px;
    width: 50%;
    margin: auto;
}
.use {
    display: inline; 
    white-space: nowrap; 
}
footer {
    background-color: #002d62; /* Cor do fundo */
    color: #ffffff; /* Cor do texto */
    font-family: 'Roboto', sans-serif;
    padding: 50px;
    display: flex;
    justify-content: space-between; /* Espaçamento entre os itens */
    align-items: center; /* Alinhamento central vertical */
}
