html {
    overflow: auto; /* Permite rolar */
    scrollbar-width: none; /* Para Firefox */
    -ms-overflow-style: none; /* Para Internet Explorer 10+ */
}

html::-webkit-scrollbar {
    display: none; /* Para Chrome, Safari e Edge */
}
body {
    background: #272727;
    display: flex; /* Ativa o layout flexível */
    flex-direction: column;
    align-items: start; /* Centraliza verticalmente */
    justify-content: flex-start; /* Alinha o conteúdo à esquerda */
    height: 125vh;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    overflow-x: hidden; /* Evita a rolagem horizontal */
    overflow-y: scroll; /* Permite o scroll vertical */
    overflow: auto; /* Permite rolar */
    scrollbar-width: none; /* Para Firefox */
    -ms-overflow-style: none; /* Para Internet Explorer 10+ */
    color: white;
    background: url('fundo-n.png') no-repeat center center fixed;
    background-size: cover; /* Faz a imagem cobrir todo o fundo */
}
.separador {
    height: 20vh;
}
header {
    padding: 20px;
    text-align: center;
    color: white;
    font-size: 24px;
}

section {
    /* Faz a seção principal ocupar o espaço restante */
    display: start;
    align-items: start; /* Centraliza verticalmente */
    justify-content: flex-start; /* Alinha o conteúdo à esquerda */
    color: white;
    padding: 20px;
    width: 50%;
    margin: auto;
    text-align: left; /* Alinha o texto à esquerda */
}

.use {
    display: inline; 
    white-space: nowrap; 
}
footer {
    background-color: #002d62; /* Cor do fundo */
    color: #ffffff; /* Cor do texto */
    font-family: 'Roboto', sans-serif;
    padding: 50px;
    display: flex;
    justify-content: space-between; /* Espaçamento entre os itens */
    align-items: center; /* Alinhamento central vertical */
}
